openapi: 3.2.0
info:
  title: InfinitePay Checkout Payments API
  version: '2026-08-01'
  summary: Generate InfinitePay hosted checkout payment links and query their payment status.
  description: The InfinitePay Integrated Checkout ("Checkout Integrado") API, operated by CloudWalk Inc.
  contact:
    name: InfinitePay / CloudWalk partner integrations
    email: parcerias@cloudwalk.io
    url: https://www.infinitepay.io/desenvolvedores
  termsOfService: https://www.infinitepay.io/legal/termos-de-uso
servers:
- url: https://api.checkout.infinitepay.io
  description: Production checkout API host (the host named in the current published reference).
- url: https://api.infinitepay.io/invoices/public/checkout
  description: Legacy path-based host for the same two operations. Probed live 2026-08-01 and still answering (POST /links returned the same 400 handle-validation error).
tags:
- name: Payments
  description: Query the payment status of a checkout link.
paths:
  /payment_check:
    post:
      tags:
      - Payments
      operationId: checkPaymentStatus
      summary: Check the payment status of a checkout link
      description: Returns whether a checkout link has been paid, the amount charged, the number of installments and the capture method. Used as the pull-based alternative to the webhook.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckRequest'
            examples:
              published:
                value:
                  handle: sua_infinite_tag
                  order_nsu: '123456'
                  transaction_nsu: UUID-que-recebeu
                  slug: codigo-da-fatura
      responses:
        '200':
          description: Payment status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckResponse'
              examples:
                paidWithPix:
                  value:
                    success: true
                    paid: true
                    amount: 1500
                    paid_amount: 1510
                    installments: 1
                    capture_method: pix
        '404':
          description: No matching invoice/transaction for the supplied identifiers. Observed live 2026-08-01 for an empty body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                notFound:
                  value:
                    success: false
                    message: Not found
components:
  schemas:
    Error:
      type: object
      description: The error envelope observed live on both hosts. CloudWalk publishes no error reference for this API; the shape below is what the API actually returned when probed on 2026-08-01.
      properties:
        success:
          type: boolean
          examples:
          - false
        message:
          type: string
          description: Human-readable error message (application-level errors).
        error:
          type: string
          description: Alternate key returned by the routing layer for unknown paths.
    PaymentCheckRequest:
      type: object
      required:
      - handle
      - order_nsu
      - transaction_nsu
      - slug
      properties:
        handle:
          type: string
          description: The merchant's InfiniteTag without the leading "$".
        order_nsu:
          type: string
          description: The order number in the merchant's system.
        transaction_nsu:
          type: string
          description: The unique transaction identifier returned after payment.
        slug:
          type: string
          description: The InfinitePay invoice code.
    PaymentCheckResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the request succeeded.
        paid:
          type: boolean
          description: Whether the checkout link has been paid.
        amount:
          type: integer
          description: Original amount in cents.
        paid_amount:
          type: integer
          description: Amount actually paid in cents (may include installment fees passed to the buyer).
        installments:
          type: integer
          description: Number of installments.
        capture_method:
          type: string
          description: How the payment was captured.
          enum:
          - credit_card
          - pix
x-evidence:
  fetched: '2026-08-01'
  transcribed_from: https://www.infinitepay.io/checkout-documentacao
  probes:
  - url: https://api.checkout.infinitepay.io/
    method: GET
    http_status: 200
    body: OK <timestamp>
  - url: https://api.checkout.infinitepay.io/links
    method: POST
    request: '{}'
    http_status: 400
    body: '{"success":false,"message":"param is missing or the value is empty or invalid: handle"}'
  - url: https://api.checkout.infinitepay.io/payment_check
    method: POST
    request: '{}'
    http_status: 404
    body: '{"success":false,"message":"Not found"}'
  - url: https://api.infinitepay.io/invoices/public/checkout/links
    method: POST
    request: '{}'
    http_status: 400
    body: '{"success":false,"message":"param is missing or the value is empty or invalid: handle"}'
  - url: https://api.checkout.infinitepay.io/openapi.json
    method: GET
    http_status: 404
    note: provider publishes no machine-readable spec at any probed path
  spec_search:
  - path: /openapi.json
    status: 404
  - path: /openapi.yaml
    status: 404
  - path: /swagger.json
    status: 404
  - path: /api-docs
    status: 401
  - path: /redoc
    status: 404
